<!doctype html>
<html>
<body style="background-color:lightgrey;">

<h1 style="font-family:verdana;text-align:center;">About Page</h1>
  <hr>
<p><b>What we have started here is a simple place for your to share your thoughts, idaes, passions et.<b></p>

  <%= link_to 'Home', root_path%>