<!doctype html>
<html>
<body style="background-color:lightgrey;">

<h1 style="font-family:verdana;text-align:center;">Home Page</h1>
<hr>
<p><b>This is a place to post your blog articles<b></p>

  <%= link_to 'About', about_path%>

</body>
<html>