<!doctype html>
<html>
<body style="background-color:lightgrey;">

<h1 style="font-family:verdana;text-align:center;">Home Page</h1>
<hr>
<p><b>This is a place to post your blog articles<b></p>

  <%= link_to 'About', about_path%>

<p style="font-size:60%;">Here is my next paragraph and here is your next option for wallpaper</p>

<p style="color:red;">More options coming soon</p>

<p style="color:blue;">And one more paragraph</p>

</body>
<html>